body {
    background: lightgoldenrodyellow;
    line-height: 2;
}
p{
    background: rgb(88, 70, 47);
    color: rgb(255, 244, 244);
    text-align: center;
    margin: 20px;
}
footer{
    background: black;
    color: whitesmoke;
    text-align: center;
}
h2{
    text-align: center;
    color: black;
    background: honeydew;
}
ol {
    text-align: center;
    margin: 20px;
    text-size-adjust: 14;
    list-style-type: decimal;
}
body ol {
    list-style-type: decimal;
    text-emphasis: bold;
}
ul {
    list-style-type: circle;
}